*{
    margin: 0;
    padding: 0%;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header{
    position: absolute;
    background-color: #171416;
    width: 100%;
    height: 200px;
}

main{
    position: relative;
    /*background-color: aqua;*/
    width: 900px;
    height: 1000px;
    float: left;
}

.card{
    background-color: #F5F5F7;
    width: 900px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}

div#imagem{
    position: absolute;
    width: 300px;
    height: 350px;
    background-image: url(../img/me.jpg);
    background-position: center;
    background-size: cover;
}

div#card-pessoal{
    position: relative;
    margin-top: 20px;
    height: 350px;
}

div#card-pessoal span{
    position: absolute;
    color: black;
    margin-left: 320px;
    font-size: 18px;
}

.card-titulo{
    position: absolute;
    margin-top: 30px;
    margin-left: 85px;
    font-size: 28px !important;
    font-weight: bold;
    color: black;
}

div#card-pessoal span#subtitulo{
    margin-top: 45px;
    color: #828282;
    font-size: 18px;
    font-weight: lighter;
}

div#linha{
    width: 455px;
    position: absolute;
    margin-top: 55px;
    margin-left: 320px;
    border: 1px solid #a8a8a8;
}

div#card-pessoal footer{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    width: 600px;
    height: 60px;
    align-items: center;
    background: black;
    bottom: 0px;
}

div#card-pessoal footer a {
    width: 120px;
    color: #FFF;
    height: 60px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

div#card-sobre{
    height: 260px;
}

.linha{
    position: absolute;
    border: 1px solid #a8a8a8;
    width: 730px;
    margin-left: 85px;
    margin-top: 75px;
}



.text-card{
    text-align: justify;
    font-size: 22px;
    line-height: 26px;
    font-weight: lighter;

}

div#card-sobre p{
    position: absolute;
    width: 730px;
    margin-left: 85px;
    margin-top: 100px;

}

div#card-formação{
    height: 500px;
}

div#card-experiência{
    height: 500px;
}

div#card-habilidades{
    height: 400px;
}

div#card-experiência ul, 
div#card-formação ul{
    position: absolute;
    margin-left: 130px;
    margin-top: 100px;

}

div#card-experiência ul li,
div#card-formação ul li{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

div#card-experiência span, 
div#card-formação ul span {
    font-weight: bold;
    font-size: 22px;

}

div#card-experiência ul p,
div#card-formação ul p{
    width: 670px;
    margin-bottom: 30px;
}


h1#nome{
    font-size: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 5%;
}

div#main{
    position: absolute;
    width: 714px;
    height: 300px;
    margin-left: 85px;
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    padding-left: 20px;
}

.coluna-50{
    width: 50%;
    height: 80px;
}

div#main span{
    font-size: 22px;
    font-weight: bold;
}

.status-100{
    width: 236px;
    height: 15px;
    background-color: #c4c4c4;
    border-radius: 22px;
    margin-top: 15px;
}

div#status-Inglês{
    height: 15px;
    background-color: black;
    border-radius: 22px;
    width: calc( ( 236px *40)/100) ;
}

div#status-criatividade{
    height: 15px;
    background-color: black;
    border-radius: 22px;
    width: calc( ( 236px *60)/100) ;
}

div#status-liderança{
    height: 15px;
    background-color: black;
    border-radius: 22px;
    width: calc((236px *60)/100);
}


h2#profissão{
    color: #FFF;
    font-size: 30px;
    font-weight: lighter;
}

236********100%
x**********porcentagem  regra de tres 
